<%- include('includes/head') %>
<%- include('includes/nav')  %>

<section class="register">
    <h1>Cadastre-se</h1>
    <p class="messages">Complete os campos abaixos</p>

    <%- include('includes/messages') %>

    <form action="/register" method="post" class="form-register">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required placeholder="usuario@gmail.com">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required placeholder="Digite o password aqui">

        <input type="submit" value="Realizar Cadastro">

    </form>

</section>

<%- include('includes/footer') %>