<%- include('includes/head') %>
<%- include('includes/nav') %>

<section class="tarefa">

    <%- include('includes/messages') %>
            
    <% if(tarefa._id){ %>
        <h1>Editar Tarefa</h1>
                
        <form action="/tarefa/edit/<%= tarefa._id %>" method="post">
                
    <% } else { %>
        <h1>Registrar Tarefa</h1>
        
        <form action="/tarefa" method="post">
    
    <% } %>    
        
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <label for="tarefa">Tarefa:</label>
        <input type="text" name="tarefa" id="tarefa" value="<%= tarefa.nome %>">

        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" id="descricao">

        <label for="dataConclusao">Data Para Concluir a Tarefa:</label>
        <input type="date" name="dataConclusao" id="dataConclusao">
        
        <label for="categoria">Categoria:</label>
        <select name="categoria" id="categoria">
            <option value="Pessoal">Pessoal</option>
            <option value="Profissional">Profissional</option>
        </select>

        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="Pendente">Pendente</option>
            <option value="Concluido">Concluido</option>
        </select>

        <input type="submit" value="Adicionar Tarefa">

    </form>

</section>

<%- include('includes/footer') %>